server:
  port: 8081

spring:
  # PostgreSQL 설정
  datasource:
    url: ${POS_DATABASE_URL}
    username: ${POS_DATABASE_USERNAME}
    password: ${POS_DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # MongoDB 설정
  data:
    mongodb:
      uri: ${MONG_DATABASE_URI}